@media(max-width:768px) {
    body {
        font-size: 12px;
    }
    header,.headerFilter {
        height: calc(100vw * 0.75);
    }
    .shopname {
        position: relative;
        top: 25%;
    }
    .aboutusdesc {
        font-size: 1.2em;
    }
    .menuFlex {
        display: block;
    }
    .menuimg {
        width: 100%;
        height: 200px;
    }
    .menuimg img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .menudesc {
        width: 100%;
        padding: 20px;
    }
}